<section class="scrollable wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                  All Active Items
                </header>
                <div class="table-responsive">
                	<button (click)="collapseAll()">Collapse All</button><button (click)="expandAll()">Expand All</button>
    				<p></p>
                  <db-angular-tree-grid #angularGrid [data]="devitemObjList" (rowsave)="onRowSave($event)"  (rowdelete)="onRowDelete($event)"  [configs]="configs"></db-angular-tree-grid>
                </div>
                <footer class="panel-footer">
                  <div class="row">
                  </div>
                </footer>
              </section>
        </div>
    </div> 
</section>
<ngx-spinner></ngx-spinner>    
