<section class="scrollable wrapper">
          <div class="row">
          <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                  All Items
                </header>
                <form [formGroup]="devitemsearchform" id="devsearchItem" (ngSubmit)="searchItemSubmit(searchItem)">
                <div class="row text-sm wrapper">
                  <div class="col-sm-7 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline">
                      <option value="1">Delete selected</option>
                      <option value="3">Export</option>
                    </select>
                    <button class="btn btn-sm btn-white" style="margin-left: 2px;">Apply</button>
                    <button class="btn btn-sm btn-white" style="margin-left: 2px;" (click)="currentSprintRedirect()">Current Sprint</button>                
                  </div>
                  
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="text" name="search_item_number" formControlName="search_item_number" class="input-sm form-control input-s-sm inline" placeholder="Item Number" placeholder="Item Number">
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <input type="checkbox" name="adv_search_chk_task" formControlName="adv_search_chk_task" value="1" checked="false"> Task
                      </span>
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <input type="checkbox" name="adv_search_chk_sub_task" formControlName="adv_search_chk_sub_task" value="2" checked="false"> Sub Task
                      </span>
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <button class="btn btn-sm btn-white" type="submit">Go!</button>
                      </span>
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <button class="btn btn-sm btn-white" type="button" (click)="advanceSearchToggleBtnclickEvent()" >Advance Search</button>
                      </span>
                    </div>
                  </div>
                <!-- </form> -->
                </div>
                <div [ngClass]="advanceSearchToggleBtnclickEventstats ? 'row text-sm wrapper-advance-search ' : 'none'">
                 <!-- <form [formGroup]="itemAdvanceSearchForm" id="advancesearchitem" (ngSubmit)="advanceSearchItemSubmit(advancesearchitem)"> -->
                <div class="row text-sm wrapper">
                  <div class="col-sm-3">
                    <div class="input-group">
                       <!-- <input type="text" name="search_from_date"  class="input-sm form-control" placeholder="From Date" > -->
                       <p-calendar  placeholder="From Date" [showIcon]="true"  dateFormat="yy-mm-dd" [style]="{'width':'75%'}" [inputStyle]="{'width':'75%'}" formControlName="adv_search_from_date" useUtc></p-calendar>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group">
                       <!-- <input type="text" name="search_to_date" class="input-sm form-control" placeholder="To Date" > -->
                       <p-calendar  [showIcon]="true" placeholder="To Date" dateFormat="yy-mm-dd" [style]="{'width':'75%'}" [inputStyle]="{'width':'75%'}" formControlName="adv_search_to_date" useUtc></p-calendar>
                    </div>
                  </div>
                  
                  <div class="col-sm-3">
                    <div class="input-group">
                       <input type="checkbox" formControlName="adv_search_opne_date" name="adv_search_opne_date" value="1" checked> Open Date
                       <input type="checkbox" formControlName="adv_search_close_date" name="adv_search_opne_date" value="2" > Close Date
                    </div>
                  </div>
                    <div class="col-sm-2 m-b-xs" >
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_application_name">
                      <option value="All"> --Application-- </option>
                      <option *ngFor="let allAppNames of allApplicatoinNameList">{{allAppNames}}</option>
                    </select>                
                  </div>
                   <div class="col-sm-1">
                    <div class="input-group">
                       <input type="checkbox" name="src_is_refined" formControlName="adv_search_is_refined" value="Y"> Refined
                    </div>
                  </div>             
                  
                </div>
                <div class="row text-sm wrapper">
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_item_status">
                      <option value="All"> --Item Status-- </option>
                      <option value="Inprogress">Inprogress</option>
                      <option value="Backlog">Backlog</option>
                      <option value="Closed">Closed</option>
                      <option value="Done">Done</option>
                      <option value="Selected">Selected</option>
                      <option value="Ready">Ready</option>
                      <option value="Analysis">Analysis</option>
                      <option value="Blocked">Blocked</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_item_type">
                      <option value="All"> --Item Type-- </option>
                      <option value="Story">Story</option>
                      <option value="Bug">Bug</option>
                      <option value="Task">Task</option>
                      <option value="Sub Task">Sub Task</option>
                      <option value="Spike">Spike</option>
                      <option value="Automation">Automation</option>
                      <option value="Testing">Testing</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_assigned">
                      <option value="All"> --Assigned-- </option>
                      <option *ngFor="let allDevUserName of allDevUserNameList">{{allDevUserName}}</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_sprint_name">
                      <option value="All"> --Sprint-- </option>
                      <option *ngFor="let allDevSprintName of allDevSprintNameList">{{allDevSprintName}}</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_project">
                      <option value="All"> --Project-- </option>
                     <option *ngFor="let allAppNames of allApplicatoinNameList">{{allAppNames}}</option>
                    </select>                
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group">
                      <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_priority">
                      <option value="All"> --Priority-- </option>  
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option> 
                     
                    </select>
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <!-- <button class="btn btn-sm btn-white" type="submit">Search</button>  -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              </form>
                <div class="table-responsive">
                  <table class="table table-striped b-t text-sm">
                    <thead>
                      <tr>
                        <th width="5%" class="th-sortable" data-toggle="class">ID</th>
                        <th width="8%">Number</th>
                        <th width="3%">SP</th>                        
                        <th width="10%">Item Type</th>
                        <th width="10%">Status</th>
                        <th>Subject</th>
                        <th width="8%">Parent</th>
                        <th>Assigned</th>
                        <th>Application</th>
                        <th width="8%">Sprint</th>
                        <th width="7%"><span class="label pull-right">
                      <a href="#devmodal" data-toggle="modal" class="btn btn-xs btn-success add-dev-item-button" data-backdrop="static" data-keyboard="false" (click)="addItemModalOpen()"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                    </span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let devitemOb of devitemObjList  | paginate: config " [ngClass]="getColorClass(devitemOb.itemStatus,devitemOb.parentItem)">
                       
                        <td>{{ devitemOb.devItemId }}</td>
                        <td>{{ devitemOb.itemNumber }}</td>
                        <td>{{ devitemOb.itemStoryPoint }}</td>
                        <td>{{ devitemOb.itemType }}</td>
                        <td>{{ devitemOb.itemStatus }}</td>
                        <td><span *ngIf="devitemOb.itemSubject!=null && devitemOb.itemSubject.length<=50;else subsubject">{{ devitemOb.itemSubject }}</span>
                          <ng-template #subsubject>
                            {{ devitemOb.itemSubject | slice:0:50 }} ....
                          </ng-template>
                        </td>                        
                        <td>{{ devitemOb.parentItem }}</td> 
                        <td>{{ devitemOb.developerName }} - {{ devitemOb.testerName }}</td> 
                        <td>{{ devitemOb.applicationName }}</td> 
                        <td>{{ devitemOb.itemSprintName }}</td> 
                        <td><a href="#devmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-edit fa-lg devitem-edit-item-button" (click)="getUpdateItem(devitemOb.devItemId)"></i></a>&nbsp;<a href="#devmodalview" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-cog fa-lg devitem-report-edit-item-button" (click)="getReportUpdateItem(devitemOb.devItemId)"></i></a>&nbsp;<a href="javascript:void(0)"><i class="fa fa-trash-o fa-lg" (click)="getRemoveItem(devitemOb.devItemId)"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <form [formGroup]="itemsaveform" id="saveitem" (ngSubmit)="saveAndUpdateDevItem(saveItem)">
                <div class="modal fade" id="devmodal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addItemModalClose()">&times;</button>
                  <h4 class="modal-title">Add Item</h4>
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <input type="hidden" class="form-control"  formControlName="dev_item_id">
                      <div class="col-sm-3" style="padding-left: 0px">
                        <div class="form-group">
                          <label for="exampleSelect1">Item Number</label>   
                          <input type="text" name="item_number" formControlName="item_number" class="form-control" placeholder="Item Number" required>
                          <div class="alert alert-danger" *ngIf = "(ItemNumber.touched) && (ItemNumber.invalid)"  style="margin-top: 5px;">
                          <span *ngIf="ItemNumber.errors.required">Provide Item Number</span>   
                        </div>
                        </div>
                      </div>
                      <div class="col-sm-3" >
                        <div class="form-group">
                          <label for="exampleSelect1">Parent Item</label>
                          <input type="text" name="parent_item_number" formControlName="parent_item_number" class="form-control" placeholder="Parent Item">
                        </div>
                        
                      </div>
                      <div class="col-sm-3" >
                        
                        <div class="form-group">
                          <label for="exampleSelect1">Item Type</label>
                          <select class="form-control" name="item_type" formControlName="item_type">
                          <option value="Story">Story</option>
                          <option value="Bug">Bug</option>
                          <option value="Task">Task</option>
                          <option value="Sub Task">Sub Task</option>
                          <option value="Spike">Spike</option>
                          </select> 
                        </div>
                      </div>
                      <div class="col-sm-3" style="padding-right: 0px">
                        
                        <div class="form-group">
                          <label for="exampleSelect1">Story Point</label>
                          <select class="form-control" name="item_story_point" formControlName="item_story_point">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="5">5</option>
                          <option value="8">8</option>
                          <option value="13">13</option>
                          </select> 
                        </div>
                      </div>
                      
                      <div class="col-sm-3" style="padding-left: 0px">
                        
                        <div class="form-group">
                          <label for="exampleSelect1">Item Status</label>
                          <select name="item_status" formControlName="item_status" class="form-control">
                            <option value="">  -- Select -- </option>  
                            <option value="Inprogress">Inprogress</option>
                            <option value="Backlog">Backlog</option>
                            <option value="Closed">Closed</option>
                            <option value="Done">Done</option>
                            <option value="Selected">Selected</option>
                            <option value="Ready">Ready</option>
                            <option value="Analysis">Analysis</option>
                            <option value="Blocked">Blocked</option>
                          </select>
                        </div>
                        
                      </div>
                      <div class="col-sm-3" >
                        
                        <div class="form-group">
                          <label for="exampleSelect1">Application Name</label> 
                          <select name="application_name" formControlName="application_name" class="form-control" >
                          <option value="">  -- Select -- </option>  
                          <option *ngFor="let allAppNames of allApplicatoinNameList">{{allAppNames}}</option>
                          </select>
                        </div>
                        
                         
                      </div>
                      <div class="col-sm-3" >
                        
                        <div class="form-group">
                          <label for="exampleSelect1">Project Name</label> 
                          <select name="project_name" formControlName="project_name" class="form-control" >
                          <option value="">  -- Select -- </option>  
                          <option *ngFor="let allAppNames of allApplicatoinNameList">{{allAppNames}}</option>
                          </select>
                        </div>
                        
                         
                      </div>
                      <div class="col-sm-3" style="padding-right: 0px">
                        <div class="form-group" id="form_group_bounce_item">
                          <label for="exampleSelect1">Sprint</label> 
                          
                          <select name="sprint_name" formControlName="sprint_name" class="form-control">
                            <option value="">  -- Select -- </option>  
                          <option *ngFor="let allDevSprintName of allDevSprintNameList">{{allDevSprintName}}</option>
                      </select>
                        </div>
                      </div>
                      <div class="col-sm-4" style="padding-left: 0px;">
                        <div class="form-group">
                          <label for="exampleSelect1">Developer</label>
                          <select name="developer_name" formControlName="developer_name" class="form-control">
                            <option value="">  -- Select -- </option>  
                            <option *ngFor="let allDevUserName of allDevUserNameList">{{allDevUserName}}</option>
                          </select> 
                        </div>
                      </div>
                      <div class="col-sm-4" >
                        <div class="form-group">
                          <label for="exampleSelect1">Tester</label>
                          <select name="tester_name" formControlName="tester_name" class="form-control">
                            <option value="">  -- Select -- </option>  
                            <option *ngFor="let allDevUserName of allDevUserNameList">{{allDevUserName}}</option>
                          </select> 
                        </div>
                      </div>
                      <div class="col-sm-4" style="padding-right: 0px;">
                        <div class="form-group" >
                          <label for="exampleSelect1">Priority</label>
                          <select name="priority_item" formControlName="priority_item" class="form-control" >
                            <option value="High">High</option>  
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelect1">Subject</label>
                        <input type="text" name="item_subject" formControlName="item_subject" class="form-control" placeholder="Item Subject" >
                      </div>                    
                      <div class="form-group">
                        <label for="exampleSelect1">Description</label>
                        <textarea name="item_description" formControlName="item_description" class="form-control" placeholder="Item Description"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelect1">Acceptance Criteria</label>
                        <textarea name="acceptance_criteria" formControlName="acceptance_criteria" class="form-control" placeholder="Acceptance Criteria"></textarea>
                      </div>
                    
                                     
                  </div>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal" (click)="addItemModalClose()" >Close</button>
                  <!-- <button type="submit" class="btn btn-info" data-loading-text="Updating..." id="itemSubmitButton">Save changes</button> -->
                  <button type="submit" class="btn btn-info" data-loading-text="Updating..." id="itemSubmitButton">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          </form>
          <div class="modal fade" id="devmodalview">
            <div class="dev-view-modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addItemModalClose()">&times;</button>
                  <h4 class="modal-title">Add Item</h4>
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      
                    
                                     
                  </div>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal" (click)="addItemModalClose()" >Close</button>
                  <!-- <button type="submit" class="btn btn-info" data-loading-text="Updating..." id="itemSubmitButton">Save changes</button> -->
                  <button type="submit" class="btn btn-info" data-loading-text="Updating..." id="itemSubmitButton">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
                <footer class="panel-footer">
                  <div class="row">
                    <div class="col-sm-4 hidden-xs">
                      <select class="input-sm form-control input-s-sm inline">
                        <option value="1">Delete selected</option>
                        <option value="3">Export</option>
                      </select>
                      <button class="btn btn-sm btn-white">Apply</button>                  
                    </div>
                    <div class="col-sm-4 text-center">
                      <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of {{config.totalItems}} items</small>
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">                
                      <!-- <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                      </ul> -->
                      <div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" ></pagination-controls>
</div> 
                    </div>
                  </div>
                </footer>
              </section>
          </div>
          </div>          
        </section>
        <ngx-spinner></ngx-spinner>