        <section class="scrollable wrapper">
          <div class="row">
          <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                  All Items
                </header>
                <form [formGroup]="itemsearchform" id="searchItem" (ngSubmit)="searchItemSubmit(searchItem)">
                <div class="row text-sm wrapper">
                  <div class="col-sm-3 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline">
                      <option value="1">Excel Export</option>
                    </select>
                    <button class="btn btn-sm btn-white" style="margin-left: 2px;" (click)="exportExcelOnClickBtn()" type="button">Apply</button>                
                  </div>
                  <div class="col-sm-5">
                    <div class="input-group" style="float: right;">
                      <input type="text" name="search_text" formControlName="search_text" class="input-sm form-control input-s-sm inline" placeholder="Search" >
                      
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                    <div class="input-group">
                      
                      <input type="text" name="search_item_number" formControlName="search_item_number" class="input-sm form-control input-s-sm inline" placeholder="Item Number" placeholder="Item Number">
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <button class="btn btn-sm btn-white" type="submit">Go!</button>
                      </span>
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <button class="btn btn-sm btn-white" type="button" (click)="advanceSearchToggleBtnclickEvent()" >Advance Search</button>
                      </span>
                    </div>
                  </div>
                <!-- </form> -->
                </div>
                <div [ngClass]="advanceSearchToggleBtnclickEventstats ? 'row text-sm wrapper-advance-search ' : 'none'">
                 <!-- <form [formGroup]="itemAdvanceSearchForm" id="advancesearchitem" (ngSubmit)="advanceSearchItemSubmit(advancesearchitem)"> -->
                <div class="row text-sm wrapper">
                  <div class="col-sm-3">
                    <div class="input-group">
                       <!-- <input type="text" name="search_from_date"  class="input-sm form-control" placeholder="From Date" > -->
                       <p-calendar  placeholder="From Date" [showIcon]="true"  dateFormat="yy-mm-dd" [style]="{'width':'75%'}" [inputStyle]="{'width':'75%'}" formControlName="adv_search_from_date" useUtc></p-calendar>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group">
                       <!-- <input type="text" name="search_to_date" class="input-sm form-control" placeholder="To Date" > -->
                       <p-calendar  [showIcon]="true" placeholder="To Date" dateFormat="yy-mm-dd" [style]="{'width':'75%'}" [inputStyle]="{'width':'75%'}" formControlName="adv_search_to_date" useUtc></p-calendar>
                    </div>
                  </div>
                  
                  <div class="col-sm-3">
                    <div class="input-group">
                       <input type="checkbox" formControlName="adv_search_opne_date" name="adv_search_opne_date" value="1" checked> Open Date
                       <input type="checkbox" formControlName="adv_search_close_date" name="adv_search_opne_date" value="2" > Close Date
                    </div>
                  </div>
                    <div class="col-sm-2 m-b-xs" >
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_application_name">
                      <option value="All"> --Application-- </option>                      
                      <option *ngFor="let allAppNames of allApplicatoinName">{{allAppNames}}</option>
                    </select>                
                  </div>
                   <div class="col-sm-1">
                    <div class="input-group">
                       <input type="checkbox" name="adv_search_bounce" value="1" formControlName="adv_search_bounce">Bounce
                    </div>
                  </div>             
                  
                </div>
                <div class="row text-sm wrapper">
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_item_status">
                      <option value="All"> --Item Status-- </option>
                      <option value="Active">Active</option>
                      <option value="Waiting for Customer">Waiting for Customer</option>
                      <option value="Resolved">Resolved</option>
                      <option value="Closed">Closed</option>
                      <option value="Premises On Hold">Premises On Hold</option>
                      <option value="Waiting for RFC">Waiting for RFC</option>
                      <option value="Fulfilled">Fulfilled</option>
                      <option value="Re-Opened">Re-Opened</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_item_type">
                      <option value="All"> --Item Type-- </option>
                      <option *ngFor="let appItemNameObj of allAppConfPropSupItemType">{{appItemNameObj}}</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_assigned">
                      <option value="All"> --Assigned-- </option>
                      <option *ngFor="let supUserName of allSupUsers">{{supUserName}}</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_sla">
                      <option value="All"> --SLA-- </option>
                      <option value="NonAged">Non Aged</option>
                      <option value="Aged">Aged</option>
                      <option value="Primary">Primary</option>
                      <option value="Secondary">Secondary</option>
                      <option value="Tertiary">Tertiary</option>
                    </select>                
                  </div>
                  <div class="col-sm-2 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_debt">
                      <option value="All"> --Debt-- </option>
                      <option value="Functional">Functional</option>
                      <option value="Technical">Technical</option>
                      <option value="Knowledge">Knowledge</option>
                    </select>                
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group">
                      <select class="input-sm form-control input-s-sm inline" formControlName="adv_search_priority">
                      <option value="-1"> --Priority-- </option>  
                      <option value="5">5</option>  
                      <option value="4">4</option>
                      <option value="3">3</option>
                      <option value="2">2</option>
                      <option value="1">1</option>
                    </select>
                      <span class="input-group-btn" style="padding-left: 2px;">
                        <!-- <button class="btn btn-sm btn-white" type="submit">Search</button>  -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              </form>
                <div class="table-responsive">
                  <table class="table table-striped b-t text-sm">
                    <thead>
                      <tr>
                        <!-- <th width="5%" class="th-sortable" data-toggle="class">ID</th> -->
                        <th width="7%">Number</th>                        
                        <th width="12%">Item Type</th>
                        <th width="13%">Status</th>
                        <th>Subject</th>
                        <th>Assigned</th>
                        <th>Open Date</th>
                        <th width="7%"><span class="label pull-right">
                      <a href="#modal" data-toggle="modal" class="btn btn-xs btn-success add-item-button" data-backdrop="static" data-keyboard="false" (click)="addItemModalOpen()"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                    </span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemObj of items | paginate: config">
                        <!-- <td><a href="javascript:void(0)">{{ itemObj.id }}</a></td> -->
                        <td>{{ itemObj.itemNumber }}</td>
                        <td>{{ itemObj.itemType }}</td>
                        <td>{{ itemObj.itemStatus }}</td>
                        <td><span *ngIf="itemObj.itemSubject!=null && itemObj.itemSubject.length<=50;else subsubject">{{ itemObj.itemSubject }}</span>
                          <ng-template #subsubject>
                            {{ itemObj.itemSubject | slice:0:70 }} ....
                          </ng-template>
                        </td>                        
                        <td>{{ itemObj.itemAssigned }}</td> 
                        <td>{{ itemObj.itemCreatedDate | date:'yyyy-MM-dd HH:mm'}}</td> 
                        <td><a href="#modal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-edit fa-lg supitem-edit-item-button" (click)="getUpdateItem(itemObj.id)"></i></a>&nbsp;<a href="#operationmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false" ><i class="fa fa-cog fa-lg supitem-report-edit-item-button" (click)="getUpdateItem(itemObj.id)" [ngClass]="getOperationColorClass(this.itemObj)"></i></a>&nbsp;<a href="javascript:void(0)"><i class="fa fa-trash-o fa-lg" (click)="getRemoveItem(itemObj.id)" style="color:#DDDDDD;"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <form [formGroup]="itemsaveform" id="saveitem" (ngSubmit)="saveAndUpdateItem(saveItem)">
                <div class="modal fade" id="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addItemModalClose()">&times;</button>
                  <h4 class="modal-title" id="add_edit_modal_title">Add Item</h4>
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      
                      <div class="col-sm-6" style="padding-left: 0px">
                        <div class="form-group">
                          <label for="exampleSelect1">Item Number</label>   
                          <input type="text" name="item_number" formControlName="item_number" class="form-control" placeholder="Item Number" required>
                          <div class="alert alert-danger" *ngIf = "(ItemNumber.touched) && (ItemNumber.invalid)"  style="margin-top: 5px;">
                          <span *ngIf="ItemNumber.errors.required">Provide Item Number</span>   
                        </div>
                        </div>
                        <div class="form-group">
                          <label for="exampleSelect1">Item Status</label>
                          <!-- <input type="text" name="item_status" formControlName="item_status" class="form-control" placeholder="Status" > -->
                          <select name="item_status" formControlName="item_status" class="form-control">
                            <option value="">  -- Select -- </option>  
                            <option value="Active">Active</option>
                            <option value="Waiting for Customer">Waiting for Customer</option>
                            <option value="Resolved">Resolved</option>
                            <option value="Closed">Closed</option>
                            <option value="Premises On Hold">Premises On Hold</option>
                            <option value="Waiting for RFC">Waiting for RFC</option>
                            <option value="Fulfilled">Fulfilled</option>
                            <option value="Re-Opened">Re-Opened</option>
                            <option value="Investivation">Investivation</option>
                            <option value="Planned into Release">Planned into Release</option>
                            <option value="Identified">Identified</option>
                            <option value="Awaiting Review">Awaiting Review</option>
                            
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleSelect1">Application Name</label> 
                          <select name="application_name" formControlName="application_name" class="form-control" >
                          <option value="">  -- Select -- </option>  
                          <option *ngFor="let allAppNames of allApplicatoinName">{{allAppNames}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6" style="padding-right: 0px;">
                        <div class="form-group">
                          <label for="exampleSelect1">Item Type</label>
                          <select class="form-control" name="item_type" id="item_type" formControlName="item_type">
                         <option *ngFor="let appItemNameObj of allAppConfPropSupItemType">{{appItemNameObj}}</option>
                          </select> 
                        </div>
                        <div class="form-group">
                          <label for="exampleSelect1">Assigned To</label>
                          <!-- <input type="text" name="item_assigned" formControlName="item_assigned" class="form-control" placeholder="Assigned to" > -->
                          <select name="item_assigned" formControlName="item_assigned" class="form-control">
                            <option value="">  -- Select -- </option>  
                            <option *ngFor="let supUserName of allSupUsers">{{supUserName}}</option>
                          </select> 
                        </div>
                        <div class="col-sm-6" style="padding-left: 0px;">
                          <div class="form-group" >
                          <label for="exampleSelect1">Priority</label>
                          <!-- <input type="text" name="priority_item" formControlName="priority_item" class="form-control" placeholder="Priority" > -->
                          <select name="priority_item" formControlName="priority_item" class="form-control" >
                            <option value="5">5</option>  
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                          </select>
                        </div>
                        
                        </div>
                        <div class="col-sm-6" style="padding-right: 0px;">
                          
                        <div class="form-group" id="form_group_bounce_item">
                          <label for="exampleSelect1">Bounce</label> 
                          <input type="text" name="bounce_item" formControlName="bounce_item" class="form-control" placeholder="Bounce" >
                        </div>
                        
                        </div>
                         
                      </div>
                      <div class="form-group">
                        <label for="exampleSelect1">Subject</label>
                        <input type="text" name="item_subject" formControlName="item_subject" class="form-control" placeholder="Item Subject" >
                      </div>                    
                      <div class="form-group">
                        <label for="exampleSelect1">Description</label>
                        <textarea name="item_description" formControlName="item_description" class="form-control" placeholder="Item Description"></textarea>
                      </div>
                    <div class="col-sm-6" style="padding-left: 0px">
                        <div class="form-group">
                          <label for="exampleSelect1">Created On</label>
                          <!-- <input type="text" name="item_created_date" formControlName="item_created_date" class="form-control" placeholder="created On" > -->
                          <p-calendar placeholder="created On" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd" formControlName="item_created_date" useUtc hourFormat="24"  [monthNavigator]="true" [yearNavigator]="true" yearRange="2016:2030"></p-calendar>
                        </div>
                       
                         
                      </div>
                      <div class="col-sm-6" style="padding-right: 0px;">
                        <div class="form-group" id="form_group_item_close_date">
                        <label for="exampleSelect1">Closed On</label>
                          <!-- <input type="text" name="item_close_date" formControlName="item_close_date" class="form-control" placeholder="Close On" > -->
                          <p-calendar placeholder="Close On" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd" formControlName="item_close_date" useUtc hourFormat="24" [monthNavigator]="true" [yearNavigator]="true" yearRange="2016:2030"></p-calendar>
                        </div>                      
                      </div>


                      
                    
                    <div class="form-group" id="form_group_item_resolution">
                     <!--  <input type="text" name="item_resolution" formControlName="item_resolution" class="form-control" placeholder="Resoluation" > -->
                      <textarea name="item_resolution" formControlName="item_resolution" class="form-control" placeholder="Resoluation"></textarea>
                    </div>  
                    <div class="col-sm-6" style="padding-left: 0px">
                    <div class="form-group" id="form_group_rca_shared_date">
                        <label for="exampleSelect1">RCA Shared On</label>
                          <p-calendar placeholder="Close On" [showIcon]="true" dateFormat="yy-mm-dd" formControlName="rca_shared_date" useUtc hourFormat="24" [monthNavigator]="true" [yearNavigator]="true" yearRange="2016:2030"></p-calendar>
                        </div>
                      </div>
                      <div class="col-sm-6" style="padding-right: 0px">
                        <div class="form-group" id="form_group_rca_document_status">
                          <label for="exampleSelect1">RCA</label> 
                          <select name="rca_document_status" formControlName="rca_document_status" class="form-control" >
                            <option value="Pending">Pending</option>  
                            <option value="Inprogress">Inprogress</option>
                            <option value="Review">Review</option>
                            <option value="Shared">Shared</option>
                            <option value="Completed">Completed</option>
                          </select>
                        </div>
                        </div>  

                  </div>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal" (click)="addItemModalClose()" >Close</button>
                  <button type="submit" class="btn btn-info" data-loading-text="Updating..." id="itemSubmitButtonAddEdit">Save changes</button>
                  <!-- <button type="submit" class="btn btn-info" data-loading-text="Updating...">Save changes</button> -->
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
          <div class="modal fade" id="operationmodal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addItemModalClose()">&times;</button>
                  <h5 class="modal-title"><span style="font-weight: bold">{{itemsaveform.value.item_type}} ( {{itemsaveform.value.item_number}} )</span> - <span style="font-weight: bold">{{itemsaveform.value.application_name}} </span>({{itemsaveform.value.item_created_date | date}} - {{itemsaveform.value.item_close_date | date}}) - {{itemsaveform.value.item_assigned}}</h5> 
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <input type="hidden" class="form-control"  formControlName="item_id">
                     
                      <div class="form-group">
                        <label for="exampleSelect1">Subject</label>
                        <input type="text" name="item_subject" formControlName="item_subject" class="form-control" placeholder="Item Subject" >
                      </div>                    
                      <div class="form-group">
                        <label for="exampleSelect1">Description</label>
                        <textarea name="item_description" formControlName="item_description" class="form-control" placeholder="Item Description"></textarea>
                      </div>
                      <div class="form-group" id="form_group_item_resolution">
                      <!-- <input type="text" name="item_resolution" formControlName="item_resolution" class="form-control" placeholder="Resoluation" > -->
                      <label for="exampleSelect1">Resoluation</label>
                      <textarea name="item_resolution" formControlName="item_resolution" class="form-control" placeholder="Resoluation"></textarea>
                    </div>
                    <div class="col-sm-3" style="padding-left: 0px;">
                      <div class="form-group" id="form_group_aged_item">
                          <label for="exampleSelect1">Aged</label>
                          <!-- <input type="text" name="aged_item" formControlName="aged_item" class="form-control" placeholder="Aged Item" > -->
                           <select name="aged_item" id="aged_item" formControlName="aged_item" class="form-control" >
                          <option value="N">No</option>  
                          <option value="Y">Yes</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3" style="padding-left: 0px;">
                        <div class="form-group" id="form_group_primary_sla_breahed">
                          <label for="exampleSelect1">Primary SLA</label>
                          <select name="primary_sla_breahed" formControlName="primary_sla_breahed" class="form-control"  >
                          <option value="N">No</option>  
                          <option value="Y">Yes</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3" >
                        <div class="form-group" id="form_group_secondary_sla_breahed">
                          <label for="exampleSelect1">Secondary SLA</label> 
                          <select name="secondary_sla_breahed" formControlName="secondary_sla_breahed" class="form-control"  >
                          <option value="N">No</option>  
                          <option value="Y">Yes</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3" style="padding-right: 0px;">
                        <div class="form-group" id="form_group_tertirary_sla_breahed">
                          <label for="exampleSelect1">Tertiary SLA</label>
                          <select name="tertirary_sla_breahed" formControlName="tertirary_sla_breahed" class="form-control"  >
                          <option value="N">No</option>  
                          <option value="Y">Yes</option>
                          </select>
                        </div>
                      </div> 
                      <div class="form-group" id="form-group_aged_justification">
                          <label for="exampleSelect1">Aged Justification</label> 
                          <textarea name="item_description" formControlName="aged_justification"  class="form-control" placeholder="Justification" ></textarea>
                       </div>
                       <div class="form-group" >
                          <label for="exampleSelect1">Breach Justification</label> 
                          <textarea name="breach_justification" formControlName="breach_justification"   class="form-control" placeholder="Justification" ></textarea>
                       </div>  
                       <div class="col-sm-4" style="padding-left: 0px;">
                        <div class="form-group" >
                          <label for="exampleSelect1">Debt Class</label>
                          <select name="debt_class" class="form-control"  formControlName="debt_class">
                         <option value="null"> - Select -</option>    
                          <option value="Technical">Technical</option>  
                          <option value="Functional">Functional</option>
                          <option value="Operational">Operational</option>
                          <option value="Knowledge">Knowledge</option>
                        </select>
                        </div>
                      </div>
                      <div class="col-sm-4" >
                        <div class="form-group" >
                          <label for="exampleSelect1">Debt Type</label>
                          <select name="debt_type" formControlName="debt_type" class="form-control"  >
                          <option value="null"> - Select - </option>    
                          <option value="Avoidable">Avoidable</option>  
                          <option value="Unavoidable">Unavoidable</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-4" style="padding-right: 0px;">
                        <div class="form-group" >
                          <label for="exampleSelect1">Remedial Mechanism</label>
                          <select name="remedial_mechanism" class="form-control"  formControlName="remedial_mechanism">
                          <option value="null"> - Select -</option>    
                          <option value="Eleminate">Eleminate</option>  
                          <option value="Industrialise">Industrialise</option>
                          <option value="Automate">Automate</option>
                          </select>
                        </div>
                      </div> 
                        <div class="form-group">
                          <label for="exampleSelect1">Debt Comment</label> 
                          <input type="text" name="debt_comment" formControlName="debt_comment" class="form-control" placeholder="Comment" >
                        </div>
                      <div class="col-sm-4" style="padding-left: 0px;">
                        <div class="form-group">
                          <label for="exampleSelect1">Associated Item</label> 
                          <input type="text" name="associated_item" formControlName="associated_item" class="form-control" placeholder="Associated" >
                        </div>
                                                
                      </div>
                      <div class="col-sm-4" >
                        <div class="form-group" id="form-group_item_owner">
                          <label for="exampleSelect1">Item Owner</label> 
                          <input type="text" name="item_owner" formControlName="item_owner" class="form-control" placeholder="Item Owner" >
                        </div>
                                                
                      </div>
                      <div class="col-sm-4" style="padding-right: 0px;">
                        <div class="form-group" id="form-group_item_owner">
                          <label for="exampleSelect1">Revised Tower</label> 
                          <select name="revised_tower" class="form-control"  formControlName="revised_tower">
                         <option value="null"> - Select -</option>    
                          <option value="EPS">EPS</option>  
                          <option value="SAP">SAP</option>
                          <option value=".Net">.Net</option>
                          <option value="Other">Other</option>
                        </select>
                        </div>                                                
                      </div>        
                  </div>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal" (click)="addItemModalClose()" >Close</button>
                  <button type="submit" class="btn btn-info" data-loading-text="Updating..." id="itemSubmitButtonReport">Save changes</button>
                  <!-- <button type="submit" class="btn btn-info" data-loading-text="Updating...">Save changes</button> -->
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
          </form>
                <footer class="panel-footer">
                  <div class="row">
                    <div class="col-sm-4 hidden-xs">
                      <select class="input-sm form-control input-s-sm inline">
                        <option value="1">Delete selected</option>
                        <option value="3">Export</option>
                      </select>
                      <button class="btn btn-sm btn-white">Apply</button>                  
                    </div>
                    <div class="col-sm-4 text-center">
                      <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of {{config.totalItems}} items</small>
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">                
                      <!-- <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                      </ul> -->
                      <div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" ></pagination-controls>
</div> 
                    </div>
                  </div>
                </footer>
              </section>
          </div>
          </div>          
        </section>
        <ngx-spinner></ngx-spinner>