.panel .table-striped > tbody > tr.done > td{
     background-color: #a6ada5 !important;
     color: black;
     font-weight: 500;
}

.panel .table-striped > tbody > tr.pending > td{
     background-color: #f30606bd !important;
     color: black;
     font-weight: 500;
}

.panel .table-striped > tbody > tr.inprogress > td{
     background-color: #f9b2b2 !important;
}