.panel .table-striped > tbody > tr.done > td{
     background-color: #d2d2d2 !important;
     color: black;
     font-weight: 500;
}

.panel .table-striped > tbody > tr.pending > td{
     background-color: #f38e8ebd !important;
     color: black;
     font-weight: 500;
}

.panel .table-striped > tbody > tr.inprogress > td{
     background-color: #d1f3db !important;
}