        <section class="scrollable wrapper">
          <div class="row">
          <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                  Dashboard
                </header>
                <div class="row text-sm wrapper">
                  <div class="col-sm-9 m-b-xs">
                                 
                  </div>
                  
                  <div class="col-sm-3">
                    
                  </div>
                  <!-- Dashboard component-->
                              <div class="col-sm-6">
            <div class="portlet">
              <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase"> Visiters </h3>
                <div class="portlet-widgets">
                  <a href="javascript:;" data-toggle="expand"><i class="ion-lightbulb"></i></a>
                  <span class="divider"></span>
                  <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                  <span class="divider"></span>
                  <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                  <span class="divider"></span>
                  <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div id="portlet2" class="panel-collapse collapse in">
                <div class="portlet-body">
                  <div id="morris-line-example" style="height: 185px;"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="tile-stats white-bg">
                  <!-- <div class="status">
                    <h3 class="m-t-0 text-info"><i class="fa fa-users"></i> 22+</h3>
                    <p>
                      News users
                    </p>
                  </div> -->
                  <div class="chart-inline">
                    <span id="dashboard1"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="tile-stats white-bg">
                  <!-- <div class="status">
                    <h3 class="m-t-0 text-danger"><i class="fa fa-envelope-o"></i> 23</h3>
                    <p>
                      New emails
                    </p>
                  </div> -->
                  <span id="dashboard2"></span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="tile-stats white-bg">
                  <div class="col-sm-8">
                    <!-- <div class="status">
                      <h3 class="m-t-15 text-success"><i class="fa fa-money"></i> 65</h3>
                      <p>
                        New sales
                      </p>
                    </div> -->
                  </div>
                  <div class="col-sm-4 m-t-20">
                    <span id="dashboard3"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="tile-stats white-bg">
                  <div class="col-sm-8">
                    <!-- <div class="status">
                      <h3 class="m-t-15 text-warning"><i class="fa fa-life-ring"></i> 35</h3>
                      <p>
                        New helps
                      </p>
                    </div> -->
                  </div>
                  <div class="col-sm-4 m-t-20">
                    <span id="dashboard4"></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
                  <!-- Dashboard componenet -->
                </div>
                <div class="table-responsive">
                  
                </div>


                
                <footer class="panel-footer">
                  <div class="row">
                    <div class="col-sm-4 hidden-xs">
                      
                                
                    </div>
                    <div class="col-sm-4 text-center">
                      
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">                
                     
                    </div>
                  </div>
                </footer>
              </section>
          </div>
          </div>          
        </section>
        <ngx-spinner></ngx-spinner>