        <section class="scrollable wrapper">
          <div class="row">
          <div class="col-md-12">            
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="Incident">
                  <section class="panel">
                      <header class="panel-heading">
                        All Active Items
                      </header>
                        <div >
                          <ng2-smart-table class="table table-striped b-t text-sm" [settings]="settings" [source]="itemData" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
         (createConfirm)="onCreateConfirm($event)" (custom)="onCustomAction($event)"></ng2-smart-table>
                        </div>
                        <footer class="panel-footer">
                          <div class="row">
                          </div>
                        </footer>
                  </section>
                </mat-tab>
              <mat-tab label="Service Request">
                <section class="panel">
                    <header class="panel-heading">
                      All Active Reports
                    </header>
                      <div >
                        <ng2-smart-table class="table table-striped b-t text-sm" [settings]="settings" [source]="itemReportData" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
       (createConfirm)="onCreateConfirm($event)" (custom)="onCustomAction($event)"></ng2-smart-table>
                      </div>
                    <footer class="panel-footer">
                      
                    </footer>
                  </section>
              </mat-tab>
            <mat-tab label="Problem Record">
                <section class="panel">
              <header class="panel-heading">
                All Active Problem Record
              </header>
              <div >
                <ng2-smart-table class="table table-striped b-t text-sm" [settings]="problemRecordSettings" [source]="itemProblemRecordData" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
(createConfirm)="onCreateConfirm($event)" (custom)="onCustomAction($event)"></ng2-smart-table>
              </div>
              <footer class="panel-footer">
                
              </footer>
            </section>
            </mat-tab>
</mat-tab-group>

          </div>
          </div>    
                <div>
                  <form [formGroup]="supitemactivityform" id="savesupitemactivity" (ngSubmit)="saveAndUpdateSupItemActivity(supItemActivity)">
                  <div class="modal fade" id="modal">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="actvivityModalClose()">&times;</button>
                  <h4 class="modal-title">{{supitem.itemType}} - #{{supitem.itemNumber}}</h4>
                  <div>{{supitem.itemSubject}}</div>
                </div>
                <div class="modal-body">
                  <!-- <form  role="form"> -->
                   <input type="hidden" class="form-control"  formControlName="sup_item_id">
                    <div class="form-group">
                      
                      
                    </div>       
                  <section class="scrollable">
                  <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                      <section class="comment-list block">
                  <article class="comment-item media" id="comment-form">
                    <a class="pull-left thumb-sm avatar"><img src="assets/images/avatar.jpg" class="img-circle"></a>
                    <section class="media-body">
                      
                        <div class="input-group">
                          <input type="text" name="sup_item_activity" formControlName="sup_item_activity" class="form-control" placeholder="Input your comment here" required>
                          
                          <!-- <textarea name="sup_item_activity" formControlName="sup_item_activity" class="form-control" placeholder="Current Activity"></textarea> -->
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">POST</button>
                          </span>
                        </div>
                        <div >
                         
                          <div class="alert alert-danger" *ngIf = "(SupItemActivity.touched) && (SupItemActivity.invalid)" 
                style="margin-top: 5px;">
                  <span *ngIf="SupItemActivity.errors.required">Please insert your activity </span>
                                      
                </div>
                          
                        </div>
                    </section>
                  </article> 

                  <article id="comment-id-1" class="comment-item" *ngFor="let itemActivityObj of supitemactivityList">
                    <a class="pull-left thumb-sm avatar">
                      <img src="assets/images/avatar.jpg" class="img-circle">
                    </a>
                    <span class="arrow left"></span>
                    <section class="comment-body panel">
                      <header class="panel-heading">
                        <a href="javascript:void(0)">{{currentAPO}}</a>
                        <label class="label bg-info m-l-xs">APO</label> 
                        <span class="text-muted m-l-sm pull-right">
                          <i class="fa fa-clock-o"></i>
                          {{ itemActivityObj.itemActivityDate | date:'EEEE, MMM d, y, h:mm:ss a'}}
                        </span>
                      </header>
                      <div class="panel-body">
                        <div>{{itemActivityObj.itemActivity}}</div>
                        <div class="comment-action m-t-sm">
                          
                        </div>
                      </div>
                    </section>
                  </article>
                                    
                </section>
                    </div>
                    
                    
                  </div>
                </section>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal"  (click)="actvivityModalClose()">Close</button>
                 </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
        </form>
    </div>
  </section>
<ngx-spinner></ngx-spinner>