        <section class="scrollable wrapper">
          <div class="row">
          <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                  Dashboard
                </header>
                <div class="row text-sm wrapper">
                  <div class="col-sm-9 m-b-xs">
                                 
                  </div>
                  
                  <div class="col-sm-3">
                    
                  </div>
                </div>
                <div class="table-responsive">
                  
                </div>
                
                <footer class="panel-footer">
                  <div class="row">
                    <div class="col-sm-4 hidden-xs">
                      
                                
                    </div>
                    <div class="col-sm-4 text-center">
                      
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">                
                     
                    </div>
                  </div>
                </footer>
              </section>
          </div>
          </div>          
        </section>
        <ngx-spinner></ngx-spinner>